doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.css')
    body
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
        script(src="/js/bootstrap.js")
        block content
